<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3>「<%= @eventName %> 」のお知らせ</h3>
    <h4>日時：<%= @date %></h4>
    <p>
      詳細：<br />
      <%= @freeSpace %> <br />
      <br />
      参加表明は<a href= <%= @addr %> >こちら</a><br />
      ご参加お待ちしております。<br />
    </p>
  </body>
</html>